body{
    text-align: center;
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
}

img, h1{
    font-size: 50px;
    margin-bottom: 50px;
}

h2{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

a:visited {
    color: whitesmoke;
}